.input-icon-container {
    position: relative;
}

.input-icon {
    /* Garante que o ícone flutue sobre o input */
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 20px;
    height: 20px;
}