<main class="legal-container">
    <h1>Política de Privacidade</h1>
    <p>Esta Política de Privacidade descreve como suas informações são coletadas, usadas e compartilhadas quando você visita ou faz um cadastro no Cultura Imersiva.</p>
    
    <h2>1. Informações que Coletamos</h2>
    <p>Quando você se cadastra, coletamos as informações que você nos fornece, como seu nome e endereço de e-mail.</p>

    <h2>2. Como Usamos Suas Informações</h2>
    <p>Usamos as informações que coletamos para operar e manter os recursos do site, como permitir que você poste comentários e salve suas obras favoritas.</p>

    <h2>3. Compartilhamento de Informações</h2>
    <p>Não compartilhamos suas informações pessoais com terceiros, exceto para cumprir as leis aplicáveis.</p>
</main>