<header>
    <p class="header_titulo">Cultura Imersiva</p>
    <hr class="header_vertical">
    <nav class="header_navegador">
        <ul>
            <li><a routerLink="">Anime</a></li>
            <li><a>HQs</a></li>
        </ul>
    </nav>
        <button id="header_modal_login">Entrar</button>
        <div>
            <span class="fechar">&times;</span>
            <p>Entrar na conta</p>
            <form>
                <label for="email">E-mail:</label>
                <input type="password" id="senha" name="senha" required>
                <button type="submit">Entrar</button>
            </form>
            <div>
                <a>Cadastro</a>
            </div>
        </div>
</header>
