<header>
  <div class="header-container">
    <a routerLink="/home" class="logo">Cultura Imersiva</a>

    <button class="menu-toggle" (click)="toggleSidebar()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
    
    <nav class="main-nav">
      <ul>
        <li><a routerLink="/animes">Animes</a></li>
        <li><a routerLink="/hqs">HQs</a></li>
        <li *ngIf="isLoggedIn$ | async"><a routerLink="/meus-favoritos">Meus Favoritos</a></li>
      </ul>
    </nav>

    <div class="user-actions">
      <ng-container *ngIf="isLoggedIn$ | async; else showLogin">
        <button (click)="logout()" class="login-btn">Sair</button>
      </ng-container>
      <ng-template #showLogin>
        <button class="login-btn" (click)="toggleDropdown($event)">Entre</button>
        <div class="dropdown-menu" [class.show]="isDropdownOpen">
          <a routerLink="/login">Login</a>
          <a routerLink="/cadastro">Cadastro</a>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="sidebar" [class.open]="isSidebarOpen">
    <a routerLink="/animes" (click)="closeSidebar()">Animes</a>
    <a routerLink="/hqs" (click)="closeSidebar()">HQs</a>
    <a *ngIf="isLoggedIn$ | async" routerLink="/meus-favoritos" (click)="closeSidebar()">Meus Favoritos</a>
    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="/login" (click)="closeSidebar()">Login</a>
      <a routerLink="/cadastro" (click)="closeSidebar()">Cadastro</a>
    </ng-container>
    <ng-container *ngIf="isLoggedIn$ | async">
      <a (click)="logout(); closeSidebar()">Sair</a>
    </ng-container>
  </div>
  <div class="overlay" [class.open]="isSidebarOpen" (click)="closeSidebar()"></div>
</header>