<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <h2>Cadastro de E-mail</h2>

  <div>
      <label for="email">E-mail</label>
      <input type="email" id="email" formControlName="email">
      <div appMensagensErro [control]="form.get('email')!"></div>
  </div>

  <div>
      <label for="confirmarEmail">Confirmar E-mail</label>
      <input type="email" id="confirmarEmail" formControlName="confirmarEmail">
      <div appMensagensErro [control]="form.get('confirmarEmail')!"></div>
  </div>

  @if (form.errors?.['mismatch'] && form.get('confirmarEmail')?.touched) {
      <div class="error-group-message">
          Os e-mails informados não correspondem.
      </div>
  }

  <hr>

  <h2>Criação de Senha</h2>

  <div>
      <label for="senha">Senha</label>
      <div>
          <input [type]="mostrarSenha ? 'text' : 'password'" id="senha" formControlName="senha">
          <button type="button" (click)="alternarVisibilidadeSenha()">
              {{ mostrarSenha ? 'Esconder' : 'Mostrar' }}
          </button>
      </div>
      
      <div appMensagensErro [control]="form.get('senha')!"></div>

      @if (passwordStrengthErrors && form.get('senha')?.touched) {
          <div class="password-strength-info">
              <p>A senha deve atender aos seguintes requisitos:</p>
              
              <div>
                  <p [class.valid]="passwordStrengthErrors.hasMinLength">
                      @if (!passwordStrengthErrors.hasMinLength) {<span>❌</span>}
                      @if (passwordStrengthErrors.hasMinLength) {<span>✅</span>}
                      Mínimo de 6 caracteres.
                  </p>
                  <p [class.valid]="passwordStrengthErrors.hasUpperCase">
                      @if (!passwordStrengthErrors.hasUpperCase) {<span>❌</span>}
                      @if (passwordStrengthErrors.hasUpperCase) {<span>✅</span>}
                      Pelo menos 1 letra maiúscula.
                  </p>
                  <p [class.valid]="passwordStrengthErrors.hasLowerCase">
                      @if (!passwordStrengthErrors.hasLowerCase) {<span>❌</span>}
                      @if (passwordStrengthErrors.hasLowerCase) {<span>✅</span>}
                      Pelo menos 1 letra minúscula.
                  </p>
                  <p [class.valid]="passwordStrengthErrors.hasNumeric">
                      @if (!passwordStrengthErrors.hasNumeric) {<span>❌</span>}
                      @if (passwordStrengthErrors.hasNumeric) {<span>✅</span>}
                      Pelo menos 1 número.
                  </p>
              </div>
          </div>
      }
  </div>

  <div>
      <label for="confirmarSenha">Confirmar Senha</label>
      <div>
          <input [type]="mostrarSenha ? 'text' : 'password'" id="confirmarSenha" formControlName="confirmarSenha">
          <button type="button" (click)="alternarVisibilidadeSenha()">
              {{ mostrarSenha ? 'Esconder' : 'Mostrar' }}
          </button>
      </div>
      <div appMensagensErro [control]="form.get('confirmarSenha')!"></div>
  </div>

  @if (form.errors?.['mismatch'] && form.get('confirmarSenha')?.touched) {
      <div class="error-group-message">
          As senhas informadas não correspondem.
      </div>
  }

  <button type="submit" [disabled]="form.invalid">Enviar</button>
</form>