<div class="header">
    <h2>Criar uma conta</h2>
</div>
<form id="form" class="form">
    <div class="form_nomeUsario">
        <label for="username">Nome de Usuário</label>
        <input type="text" id="username">
        <i class="acerto"></i>
        <i class="erro"></i>
        <small>Mensagem de Erro</small>
    </div>
    <div class="form_email">
        <label for="email">Digite seu E-mail</label>
        <input type="text" id="email">
        <i class="acerto"></i>
        <i class="erro"></i>
        <small>Mensagem de Erro</small>
    </div>
    <div class="form_senha">
        <label for="password">Digite uma senha</label>
        <input type="text" id="password">
        <i class="acerto"></i>
        <i class="erro"></i>
        <small>Mensagem de Erro</small>
        <p>Deve conter:</p>
        <ul>
            <li>Uma letra maiúscula</li>
            <li>Uma letra minúscula</li>
            <li>Um número</li>
            <li>Mais ou igual a 6 caracteres</li>
        </ul>
    </div>
    <div class="form_senhaConfirm">
        <label for="password">Confirme a sua Senha</label>
        <input type="text" id="password">
        <i class="acerto"></i>
        <i class="erro"></i>
        <small>Mensagem de Erro</small>
    </div>
</form>