<app-header></app-header>
<main>
    <div class="main_container_1/3">
        <h1>Pesquisa de Animes</h1>
        <p>Encontre seu próximo anime favorito!</p>
    </div>
    <div class="filtro_container">
        <h2>Filtrar Animes</h2>
        <div class="filtro">
            <!-- Filtro por nome -->
            <label for="título">Título</label>
            <input type="text" id="título" placeholder="Ex: Demon Slayer">

            <!-- Filtro por Ano -->
            <label for="ano">Ano</label>
            <select id="ano">
                @for (ano of anosDisponiveis; track ano) {
                    <option [value]="ano">{{ ano }}</option>
                  }
            </select>

            <!-- Filtro por Áudio -->
            <label for="audio">Áudio</label>
            <select id="audio">
                <option value="">Qualquer</option>
                <option value="Dublado">Dublado</option>
                <option value="Legendado">Legendado</option>
            </select>

            <!-- Filtro por Gênero -->
            <div class="filtro_container_gênero">
                <p>Gêneros</p>
                <div class="filtro_gênero">
                    @for (genero of generosDisponiveis; track genero) {
                        <label>
                            <input type="checkbox" name="genero" [value]="genero">
                            <span>{{ genero }}</span>
                        </label>
                    }
                </div>
            </div>
        </div>
        <button id="pesquisaButton">Pesquisar</button>
        <button id="limparButton">Limpar Filtros</button>
    </div>
   
</main>