.legal-container {
    max-width: 800px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: var(--surface-color);
    border-radius: 8px;
    width: 100%;       
    align-self: center;
}
.legal-container h1 {
    margin-bottom: 2rem;
}
.legal-container p, .legal-container li {
    line-height: 1.8;
    margin-bottom: 1rem;
    color: var(--text-secondary);
}

/* --- ADIÇÃO PARA RESPONSIVIDADE --- */
@media (max-width: 480px) {
    .legal-container {
        margin: 1rem auto;
        padding: 1.5rem;
    }

    .legal-container h1 {
        font-size: 1.8rem;
    }

    .legal-container p, .legal-container li {
        font-size: 0.6rem; 
    }
}