<section class="comments-container">
    <h2>Seu Histórico de Comentários e Avaliações</h2>
  
    <ng-container *ngIf="isLoggedIn$ | async; else showLoginPrompt">
      <form class="comment-form" (submit)="addComment($event)">
        <h3>Adicionar um novo comentário</h3>
        <textarea placeholder="Escreva seu comentário... (Sua avaliação e progresso salvos serão anexados automaticamente)" [(ngModel)]="newCommentText" name="commentText" required></textarea>
        <button type="submit">Enviar Comentário</button>
      </form>

      <ng-container *ngIf="comments$ | async as comments">
        <div class="comment-list" *ngIf="comments.length > 0">
          <div class="comment" *ngFor="let comment of comments">
            <div class="comment-header">
              <span class="comment-user">{{ comment.user }}</span>
              </div>
            <p class="comment-text">{{ comment.text }}</p>
            <div class="comment-footer">
              <span class="comment-progress" *ngIf="comment.progress">
                Referente a: {{ comment.progress }}
              </span>
              <span class="comment-date">{{ comment.date | date: 'dd/MM/yyyy \'às\' HH:mm' }}</span>
            </div>
          </div>
        </div>
      
        <div class="no-comments" *ngIf="comments.length === 0">
            <p>Você ainda não fez comentários para esta obra.</p>
        </div>
      </ng-container>

    </ng-container>
  
    <ng-template #showLoginPrompt>
      <div class="login-prompt">
        <p>Você precisa estar logado para ver e adicionar comentários.</p>
        <a routerLink="/login">Fazer Login</a>
      </div>
    </ng-template>
</section>